@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

body{
    background: radial-gradient(circle, #1E201E 10%, #021526 100%);
    margin: 0;
    padding: 0;
    font-family: 'Rajdhani',sans-serif;
    font-weight: 500;
    font-style: normal;
    position: relative;
}

.container{
    position: relative;
    height: 100vh;
}

.text{
    position: relative;
    font-size: 45vw;
    background-color: transparent;
    letter-spacing: -50px;
    animation: rotation 5s linear infinite;
    transform: rotateX(-20deg) rotateY(45deg);
    transform-style: preserve-3d;
    perspective: 1400px;
    /* background-color: red; */
    letter-spacing: 3px;
}

.shadow {
    position: absolute;
    top: 0;
    left: 30;
    color: #16bffd;
    transform: translateY(150px);
    z-index: -3;
    -webkit-text-stroke: 5px #edf2f4;
    width: 600px;
    height: 625px;
    cursor: pointer;
}

.circle {
    width: 600px;
    height: 600px;
    /* background-color: red; */
    cursor: pointer;
    position: absolute;
    top: 10%;
    left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

._1{
    top: 110px;
    left: 31%;
}
